<section class="modal-screen">
    <section class="modal-window">
        <button class="modal-close-button">close</button>
        <img src="" alt="" class="modal-book-img">
        <section class="modal-book-info">
            <h3 class="modal-book-title"></h3>
            <p class="modal-book-authors"></p>
            <button id="add-button">Add To Library</button>
        </section>
        
    </section>
</section>