<section class="modal-screen hidden input">
    <section class="modal-window">
        <button class="modal-close-button">close</button>
        <p class="error-message"></p>
        <form action="books/createBook" method="POST">
            <label for="title">Book Title</label>
            <input type="text" name="bookName" required>
            <label for="author">Book Authors</label>
            <input type="text" name="bookAuthors" required>
            <button>Add Book</button>
        </form>

    </section>
</section>