<section class="modal-screen">
    <section class="modal-window">
        <img src="" alt="" class="modal-book-img">
        <h3 class="modal-book-title"></h3>
        <p class="modal-book-authors"></p>
        <button id="add-button"></button>
    </section>
</section>