<section class="modal-screen hidden info">
    <section class="modal-window">
        <button class="modal-close-button">close</button>
        <img src="" alt="" class="modal-book-img">
        <section class="modal-book-info">
            <h3 class="modal-book-title"></h3>
            <p class="modal-book-authors"></p>
            <p class="error-message"></p>
            <label for="status-select">Set Reading Staus</label>
            <select name="status" id="status-select">
                <option value="" disabled selected>Choose Status</option>
                <option value="reading">Reading</option>
                <option value="completed">Completed</option>
            </select>
            <button class="update-book">Update Status</button>
            
        </section>
        <button class="del">Delete Book</button>
    </section>
</section>