<section class="modal-screen hidden input">
    <section class="modal-window">
        <button class="modal-close-button">close</button>
        <p class="error-message"></p>
        <form action="">
            <label for="title">Book Title</label>
            <input type="text" name="title">
            <label for="author">Book Authors</label>
            <input type="text" name="author">
            <button>Add Book</button>
        </form>

    </section>
</section>