<%- include('../partials/head') %>
<body>
<%- include('../partials/loggedInHeader') %>

    <div class="container">
      <div class="row">
        <h1>Discover Books</h1>
        <h2>Find books to add to your library</h2>
        <div class="form-container">
          <input type="text" id="search" placeholder="Enter title or author name...">
<!--           <input type="submit"> -->
        </div>
        <div id="match-list"></div>
      </div>
    </div>

<!--     <form action="/books/createBook" method='POST'>
        <input type="text" placeholder="Enter Book Title" name='bookItem'>
        <input type="submit">
    </form> -->



    <script src="js/main.js"></script>
</body>
</html>