<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
    <div class="container flex flex-align-center">
    <img class="landing-img" src="assets/landing-woman-reading.svg">
    <div class="landing-text">
      <h1>Welcome to Book Tracker</h1>
      <h3>your personal library.</h3>
    </div>
    </div>
    
</body>
</html>